'/Users/nombauser/Desktop/Python Work/AIRFLOW/py_env/bin'

'/Users/nombauser/Desktop/Python Work/AIRFLOW/py_env/generated'

'/Users/nombauser/Desktop/Python Work/AIRFLOW/py_env/include'

'/Users/nombauser/Desktop/Python Work/AIRFLOW/py_env/lib/python3.12/site-packages'

/airflow

/logs

.DS_Store

